<main class="home">

    <header class="home__header">
        <aside class="home__header__menu">
            aside
        </aside>
        <nav class="home__mode">
            <button class="home__mode__button">
                button
            </button>
        </nav>
    </header>

    <article [class]="'home__info home__info--'+(state ? 'focused' : '')" (click)="state=false">
        <section class="home__info__content">
            <a class="home__info__content__img">
                <img src="foto.png" alt="">
            </a>
            <ul class="home__info__content__description">
                <li class="home__info__content__description__card--title">Andres Diaz {{state}}</li>
                <ng-container *ngIf="!state">
                    <li class="home__info__content__description__card">Cargo:</li>
                    <li class="home__info__content__description__card">Edad:</li>
                    <li class="home__info__content__description__card">Estado:</li>
                    <li class="home__info__content__description__card">Experiencia:</li>
                </ng-container>
            </ul>
            <ul class="home__info__content__nav" *ngIf="!state">
                <li>
                    {{state}}
                </li>
                <li>

                </li>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </section>
        <a class="home__info__download" *ngIf="!state">Descargar hoja de vida</a>
    </article>
    <article class="home__content-cards">
        <section [class]="'home__content-cards__card home__content-cards__card--'+(state ? 'focused' : '')"
            (click)="setViewOpen()">
            <a class="home__content-cards__card__counter">3</a>
            <a class="home__content-cards__card__img">
                <img src="icon-iniciar-trabajo-colaborativo.svg" alt="">
            </a>
            <p class="home__content-cards__card__title">Proyectos</p>
        </section>
        <section class="home__content-cards__card">
            <a class="home__content-cards__card__counter">3</a>
            <a class="home__content-cards__card__img">
                <img src="icon-iniciar-trabajo-colaborativo.svg" alt="">
            </a>
            <p class="home__content-cards__card__title">Experiencia</p>
        </section>
        <section class="home__content-cards__card">
            <a class="home__content-cards__card__counter">3</a>
            <a class="home__content-cards__card__img">
                <img src="icon-iniciar-trabajo-colaborativo.svg" alt="">
            </a>
            <p class="home__content-cards__card__title">Skills</p>
        </section>
    </article>
</main>