<main class="home">

    <header class="home__header">
        <aside class="home__header__menu">
            aside
        </aside>
        <nav class="home__mode">
            <button class="home__mode__button">
                button
            </button>
        </nav>
    </header>

    <article class="home__info">
        <section class="home__info__content">
            <a class="home__info__content__img">
                <img src="foto.png" alt="">
            </a>
            <ul class="home__info__content__description">
                <li class="home__info__content__description__card--title">Andres Diaz</li>
                <li class="home__info__content__description__card">Cargo:</li>
                <li class="home__info__content__description__card">Edad:</li>
                <li class="home__info__content__description__card">Estado:</li>
                <li class="home__info__content__description__card">Experiencia:</li>
            </ul>
            <ul class="home__info__content__nav">
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
            </ul>
        </section>
        <a class="home__info__download">Descargar hoja de vida</a>
    </article>
    <article class="home__content-cards">
        <section class="home__content-cards__card">
            <a class="home__content-cards__card__counter">3</a>
            <a class="home__content-cards__card__img">
                <img src="icon-iniciar-trabajo-colaborativo.svg" alt="">
            </a>
            <p class="home__content-cards__card__title">Proyectos</p>
        </section>
        <section class="home__content-cards__card">
            <a class="home__content-cards__card__counter">3</a>
            <a class="home__content-cards__card__img">
                <img src="icon-iniciar-trabajo-colaborativo.svg" alt="">
            </a>
            <p class="home__content-cards__card__title">Experiencia</p>
        </section>
        <section class="home__content-cards__card">
            <a class="home__content-cards__card__counter">3</a>
            <a class="home__content-cards__card__img">
                <img src="icon-iniciar-trabajo-colaborativo.svg" alt="">
            </a>
            <p class="home__content-cards__card__title">Skills</p>
        </section>
    </article>
</main>